 <main>
    <section class="container">
        <div class="row"> 
          <div class="col-xs-12  col-md-9 bodytext "><h2>About Us</h2>
		  <article>
              We understand that providing educational tours for children from ages 4 plus to 20 years is a huge responsibility and safety                 is our keyword to ensure that our parents, guardians are relaxed knowing that their children/wards are in safe hands. Our                   management team are always available to guide your children/wards every step of the way and our partners in the camp                         programme are guided by the governing bodies for camp programme in that country.<br /><br />

              We create memorable experience in a child’s life by making our tour content, exploration of the country we visit by taking                   their language(s), cultures, traditions, innovations and beautiful famous landmarks a reality that always stays in a child’s                 mind for a lifetime.<br /><br />

             With our partners in the camping programme. Our children have conquered their fears & uncertainities through their                          participation            in initiative programmes, adventure activities ( orienteering, exploration and team challenge) by                  showing their talents, building              developmental life skills(respect, tolerance, responsibilities) and understanding              and aprreciationg that life is wonderful adventure if you embrace it. To live it, you have to experience it. 
             <br /><br />

              Our educational tours we ensure, supports the Nigeria school curriculum. itineraries and excussion have incorporated in them                 subject like languages, social studies, history, geography, Science , Government, Music , Art and ICT.
              
         </article>
        
        <br>
            
      </div>
        <br> 
            
        <div class="col-xs-12  col-md-3">
         <!-- sub content  -->
            <article upcoming-tours></article>
        </div>
        </div> 
        
    </section>
</main>
     <div class="divider"></div>