 <main>
    <section class="container">

        <div class="row">
            
          <div class="col-xs-12  col-md-9 bodytext "><h2>Confirmation</h2>
		  <!--<ol class="breadcrumb">
                <li><a href="#/">Home</a>
                </li>
                <li class="active">Services</li>
            </ol>-->
		  <article>
             <aside class="panel panel-primary asidetext">
               <!-- <div class="panel-heading">
                    <h3 class="panel-title">
                        Our Services</h3>
                </div>-->
                <p>Thank you for contacting us. We'll get back to you as soon as possible.</p>
            </aside>
        
             
      <br>
</article>
              <br>
            
            </div>
             <br> 
            
  <div class="col-xs-12  col-md-3">
         <!-- sub content  -->
            
            
          <article upcoming-tours></article>
            <br>
            </div>
            

 
            </aside>
            
</div>
</div>
          
        
</div>
        
        
    </section>
    </main>
     <div class="divider"></div>