 <main>
    <section class="container">

        <div class="row">
            
          <div class="col-xs-12  col-md-9 bodytext "><h2>Contacts &amp; Locations</h2>
		 <!-- <ol class="breadcrumb">
                <li><a href="#/">Home</a>
                </li>
                <li class="active">Contact &amp; Location</li>
            </ol>-->
		  <article>
              
			 <aside class="bodytext-location"> 
          
          <aside class="panel panel-primary asidetext">
                <!--<div class="panel-heading">
                    <h3 class="panel-title">
                       Church Location</h3>
                </div>-->
              
                <ul class="list-group">
                    <li class="list-group-item"><address>
               

 <strong>   LAGOS</strong><br>
                        
  NO.11, MUSTAPHA STREET,<br>
OFF OLAREWANJU STREET<br>
 OFF BILLINGS WAY OREGUN,IKEJA.<br>
  <abbr title="Phone">Tel:</abbr> +234-80-590-0575, +234-704-281-7288<br>
    <abbr title="Email">Email:</abbr>  info@schoolworldinvestment.com
</address></li>
   <li class="list-group-item"><address>
  <strong>   ENUGU</strong><br>
                        
  Plot 417, No 68, Federal Government College,<br>
 Independence Layout, Enugu .State, Nigeria<br>
    United States<br>
  <abbr title="Phone">Tel:</abbr> +234-42-303-067,+234-803-599-5012,+234-805-900-0575<br>
  
</address></li>
                       <li class="list-group-item"><address>
                      <strong>  ABUJA</strong><br>
                        
  Plot 413A,<br />
lobito Cresdent Wuse II,<br />
Abuja F.C.T Abuja<br />

</address></li>
                 
                  <!--  <span class="list-group-item"><strong class="map-text">Google Map</strong></span>
                    <a href="https://www.google.com.ng/maps/place/316+16th+St,+Huntsville,+TX+77340,+USA/@30.7194638,-95.5370711,17z/data=!4m2!3m1!1s0x864708ed060ce5af:0x357472c0ef6f4a41" class="list-group-item" target="_blank"><img src="img/loc-map.jpg" class="img-responsive"></a>
                   
                   
                </ul>
            </aside>
<br></ol>
</article>
              <br>
            -->
            </div>
             <br> 
            
  <div class="col-xs-12  col-md-3">
         <!-- sub content  -->
            <article upcoming-tours></article>
     
</div>
</div>
          
        
</div>
        
        
    </section>
    </main>
     <div class="divider"></div>