 
<!-- beginning of main content-->
<main>
    <section class="container">
    <div class="row">
          <div class="col-xs-12  col-md-6 col-md-push-3 bodytext "><br />
            <!--<img src="img/slide-2.jpg" alt="" class=" img-responsive img-border center-block">-->
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            <li data-target="#carousel-example-generic" data-slide-to="4"></li>
        </ol>

      <!-- Wrapper for slides -->
    <div class="carousel-inner asidetext ">
        <div class="item active">
            <img src="img/slide-1.jpg" alt="" class="">
            <div class="carousel-caption"></div>
        </div>
        <div class="item">
          <img src="img/slide-2.jpg" alt="" class="">
          <div class="carousel-caption"></div>
        </div>
        <div class="item">
          <img src="img/slide-3.jpg" alt="" class="">
          <div class="carousel-caption"> </div>
        </div>
        <div class="item">
          <img src="img/slide-4.jpg" alt="" class="">
          <div class="carousel-caption"></div>
        </div>
        <div class="item">
          <img src="img/slide-5.jpg" alt="" class="">
          <div class="carousel-caption"></div>
        </div>
     </div>

      <!-- Controls-->
      <a class="left carousel-control" href="#/#carousel-example-generic" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left slide-handle"></span>
      </a>
      <a class="right carousel-control" href="#/#carousel-example-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a> 
    </div>
      
     <h2>Welcome to School World Investment Website</h2>
        <acticle>
              
                School World Investment Limited started in 2005 inspired by Nkem Raji and Grace Achike whose love of travel expanded to the                 realisation that most kids end up spending a three months vacation just shopping, watching Tv and going to Macdonald's or                   KFC; when kids were asked to describe their vacation, they couldn't write about the historical key landmarks. The museums                   were never a go area in the holiday plan. We decided, knowing that travelling was an adventure waiting to be explored and                   each child being part of this world of experience deserves to have a meaningful educative tour while having fun at the same                 time. 
                <br /><br />
                Lastly, it is not just taking the sound, site and curriculum from their classroom and bring the subject to life that matter                 only, it is the bond of friendship they make by learning to create and set boundaries that will mould that creativity and                   dream to be the very best of who they want to be. <br /><br />We look forward to having you go on tour with us.<br /><br />
        </article>
       
              <h6> Leadership Forum</h6>
        <strong>This leadership forum drives to spark and impact to attendees: </strong>
        <ol>
            <li>That empathy and selfless service to people are foundation for leadership</li>
            <li>That leaders need to be equipped at dialogue, listening and collaboration</li>
            <li>That faith tradition is an essential facet of global diversity and can be discussed in a secular context</li>
            <li> That personal identity group interaction, and care for the environment are closely related human issues</li>
            <li> That local problems inform the understanding of global dilemmas</li>
        </ol>
              
        <strong>Programs Available are : -</strong>
        <ol>
            <li> Leadership Forum International 2016[LFI] 2016 Arlington, Virginia<br /> Dates: 3rd - 9th April 2016.[registration ends                 February               28th 2016]</li>
            <li>  Southern Unites State Model United Nations[SUSMUN] 2016 In Atlanta.Dates:  2nd - 8th  November 2016. Cost: $4,770</li>
            <li>  Regional High School Model United Nations[RHSMUN] 2016 in San Francisco
            <br />Dates: 28th November - 4th December 2016. Cost: $4,750</li>
            <li>  National High School Model United Nations [NHSMUN] 2017 New York<br />       Dates: 27th February– 4th March 2017.  Cost:             $4,790.</li>
        </ol>
        <br />  
              
              
              <p>Please note that payment as scheduled is key to planning a smooth trip. Do note that we shall be staying in Hilton hotel in                any of states that we are visiting as a compulsory requirement for the 3 programmes.</p>    
              <strong><i>For further enquiries, please contact Mrs. Raji  Nkem 08092195525.</i></strong><br /><br />
    </article>  
    </div>
           
    <div class="col-xs-12  col-md-3 col-md-pull-6">
         <!-- sub content  -->          
         <article upcoming-tours></article>    
    </div>    

    <div class="col-xs-12 col-md-3"><!-- sub content  -->
        <article upcoming-admissions></article> 
    </div>
   </div>        
</main>

<div class="divider"></div>