 <main>
    <section class="container">

        <div class="row">
            
          <div class="col-xs-12  col-md-9 bodytext "><h2>Partners</h2>
		 <!-- <ol class="breadcrumb">
                <li><a href="#/">Home</a>
                </li>
                <li class="active">Contact &amp; Location</li>
            </ol>-->
		  <article>
              
			 <aside class="bodytext-location"> 
          
          <aside class="panel panel-primary asidetext">
      Safety and Security
School World Investment Limited tours are insured and our partner camps as well. We have tour guides available in each country we visit. 
<br /><br />
Pastorial Care
We make use of three or star four hotels and apartment where security is safe and the accommodation standards are excellent. Boys and girls grouped according to their ages and sex.
We have our able staff team who coordinate and make sure that the tours is a success. We included as chaperones teachers and parents who have been appointed by the school board, who also have to go through an induction class.
We encourage parents to call at the designated time given to talk to their children/wards and calls during class/tour programme cannot be forwarded to your child/ward.
<br /><br />
As A RULE AND SECURITY MEASURE, MOBILE phones are not allowed for our children between 4 - 18 years. Only 18 - 20 years old are allowed to use phones
                   
                   
            </aside>
<br></ol>
</article>
              <br>
            
            </div>
             <br> 
            
  <div class="col-xs-12  col-md-3">
         <!-- sub content  -->
            
         <article upcoming-tours></article>
</div>
</div>
          
        
</div>
        
        
    </section>
    </main>
     <div class="divider"></div>