 <main>
    <section class="container">

        <div class="row">
            
          <div class="col-xs-12  col-md-9 bodytext "><h2>Tours &amp; Camps Registration</h2>
		  <!--<ol class="breadcrumb">
                <li><a href="#/">Home</a>
                </li>
                <li class="active">About Church</li>
            </ol>-->
             
		  <article>
              <aside class="download">
              			  <a href="http://www.schoolworldinvestment.com/tours-form.pdf" target="_blank" class="glyphicon glyphicon-download-alt "> Download Tours Registration Form</a><br />
               <a href="http://www.schoolworldinvestment.com/medical-form.pdf" target="_blank" class="glyphicon glyphicon-download-alt"> Download Tours Medical Form</a><br /><br /></aside>
             We understand the hurdles involved in getting a tour to reality and have made available through our office, partners and schools/ colleges the registration form, medical card and visa forms and schoolworld investment requirement form.
<br /><br />
Step 1<br />
PRESENTATION<br />
We make arrangement with the school/college for a presentation programme to enlighten parents/guardians on what the tour programme is all about.
<br /><br />
Step 2<br />
REGISTRATION &amp; CONFIRMATION<br />
Simply by getting a Registration form, fill it, make available the international passport number to school world investment limited or the school/college. Please note once the name, age, sex and passport number are submitted, we have them registered automatically within hour with our partners abroad
<br /><br />
Step3<br />
COST<br />
Initial deposit of 75% of the tour/camp programme is paid to schoolworld investment limited bank account or through the school/college as decided by school world investment limited by cash, draft or master card
<br /><br />
Step 4<br />
Parents/ guardians go through the visa and school world investment requirement form and will also be given a standard guideline to assist areas that are clear. For example, where guardian is sponsoring a ward- a notary public letter is needed.
<br />
Please we advice parents/guardians to make available each document required in it’s original and photocopy.
<br />
A time limit of two weeks is given to the parent/guardian to gather all the required documentation; as we have a deadline in order to meet up with the embassy rules.
<br /><br />
Step5<br />
Where an appointment date is given to school/college – parents/guardians are to be present at the consulate of the country where the tour/ camp programme. In some instances some consulates are located either in Abuja or in Lagos and it is at their discretion to decide either of the location to present the children (Transportation to and fro is the responsibilty of school/parent) 
<br /><br />
Step 6<br />
The Balance payment of 25 % is paid and the children requirement guildline & information is made available.
<br /><br />
Step 7<br />
A confirmed departure date is given and arrangement will have to be made by school/ parent/guardian as to how their children get to the international airport. Please where schools have vacated the parent/guardian takes responsibility of their child/ward transportation. 
			  
       
</article>
              <br>
            
            </div>
             <br> 
            
  <div class="col-xs-12  col-md-3">
         <!-- sub content  -->
            
            <article upcoming-tours></article>
</div>
</div>
          
        
</div>
        
        
    </section>
    </main>
     <div class="divider"></div>