 <main>
    <section class="container">

        <div class="row">
            
          <div class="col-xs-12  col-md-9 bodytext "><h2>Testimonials</h2>
		  <!--<ol class="breadcrumb">
                <li><a href="#/">Home</a>
                </li>
                <li class="active">Services</li>
            </ol>-->
		  <article>
             <aside class="panel panel-primary asidetext">
               <!-- <div class="panel-heading">
                    <h3 class="panel-title">
                        Our Services</h3>
                </div>-->
                <ul class="list-group">
                    <li class="list-group-item"><span class="">Thank you very much for a great tour. Very entertaining 
<br /><br />
                        <strong>Chinaza Okeke - Lagos </strong>

 </li>
                                        <li class="list-group-item"><span class="">What a great Tour! The kids absolutely loved you - thanks 
<br /><br />
                                            <strong>Raji Yasmine - Lagos </strong>

 </li>
                    
                    <li class="list-group-item"><span class="">Thank you very much for a great party. Very entertaining 
<br /><br />
                        <strong>Tobe Onimiegbuzia - Lagos</strong>

</li>
                    <li class="list-group-item"><span class="">What a great party, the kids absolutely loved you. Thanks
<br /><br />
                        <strong>Adilah Garba - Lagos</strong></li>
                    
                    
                 
                </ul>
            </aside>
        
             
      <br>
</article>
              <br>
            
            </div>
             <br> 
            
  <div class="col-xs-12  col-md-3">
         <!-- sub content  -->
            
            
              <article upcoming-tours></article>
</div>
</div>
          
        
</div>
        
        
    </section>
    </main>
     <div class="divider"></div>