 <main>
    <section class="container">

        <div class="row">
            
          <div class="col-xs-12  col-md-9 bodytext "><h2>Canada Tours</h2>
		  <!--<ol class="breadcrumb">
                <li><a href="#/">Home</a>
                </li>
                <li class="active">About Church</li>
            </ol>-->
             
		  <article>
              			  <h4>CANADA: CENTAURI SUMMER ARTS CAMP AND TORONTO TOUR</h4>
            


                                           
17TH JULY - 4TH   AUGUST 2016[19DAYS]<br />
                 29TH JULY - 15TH AUGUST 2016[19DAYS]<br />
Registration ends 24th March 2016.<br />COST - $6,500 
  <br /><br />
			    <marquee>  PLEASE IT IS IMPORTANT TO NOTE THAT THE VACCATION DATE IS CRUCIAL AND MUST BE CERTAIN TO AVOID CLASHES IN BOOKING SPACE
             </marquee>
                
       
</article>
              <br>
            
            </div>
             <br> 
            
  <div class="col-xs-12  col-md-3">
         <!-- sub content  -->
            
          <article upcoming-tours></article>

</div>
</div>
          
        
</div>
        
        
    </section>
    </main>
     <div class="divider"></div>