 <main>
    <section class="container">

        <div class="row">
            
          <div class="col-xs-12  col-md-9 bodytext "><h2>Europe Tours</h2>
		  <!--<ol class="breadcrumb">
                <li><a href="#/">Home</a>
                </li>
                <li class="active">About Church</li>
            </ol>-->
              
    
    
    
    
    

		  <article>
              			  <h4>SUMMER EUROPE (REGISTRATION ENDS 30TH MAY 2016)</h4><br> 
                    FRANCE /BRUSSELS/ SPAIN : 14 DAYS<br />
COST: E3590<br />
TRAVEL DATE 25TH AUGUST 2016<
               <br /><br />      
             <marquee>  PLEASE IT IS IMPORTANT TO NOTE THAT THE VACCATION DATE IS CRUCIAL AND MUST BE CERTAIN TO AVOID CLASHES IN BOOKING SPACE
             </marquee>
              
</article>
              <br>
            
            </div>
             <br> 
            
  <div class="col-xs-12  col-md-3">
         <!-- sub content  -->
            
        <article upcoming-tours></article>
      
</div>
</div>
          
        
</div>
        
        
    </section>
    </main>
     <div class="divider"></div>