 <main>
    <section class="container">

        <div class="row">
            
          <div class="col-xs-12  col-md-9 bodytext "><h2>France  Tours</h2>
		  <!--<ol class="breadcrumb">
                <li><a href="#/">Home</a>
                </li>
                <li class="active">About Church</li>
            </ol>-->
             
		  <article>
              <h4>THE EASTER TOURS 2016 </h4>
EASTER TOURS

</strong><br> 



FRANCE: 10DAYS - COST E2,250<br />

DUBAI: 10DAYS. -COST : N450,000<br /><br />

SOUTH AFRICA: 10DAYS. COST N450,000<br />

TANZANIA:10DAYS. COST - N450,000<br />

GHANA:  5DAYS. COST-N170,000( GO BY ROAD &amps RETURN BY AIR) 
  <br /><br />
		    <marquee>  PLEASE IT IS IMPORTANT TO NOTE THAT THE VACCATION DATE IS CRUCIAL AND MUST BE CERTAIN TO AVOID CLASHES IN BOOKING SPACE
             </marquee>
              	  
       
</article>
              <br>
            
            </div>
             <br> 
            
  <div class="col-xs-12  col-md-3">
         <!-- sub content  -->
            
     <article upcoming-tours></article>
     
</div>
</div>
          
        
</div>
        
        
    </section>
    </main>
     <div class="divider"></div>