 <main>
    <section class="container">

        <div class="row">
            
          <div class="col-xs-12  col-md-9 bodytext "><h2>United Kingdom Tours</h2>
		  <!--<ol class="breadcrumb">
                <li><a href="#/">Home</a>
                </li>
                <li class="active">About Church</li>
            </ol>-->
             
		  <article>
              			  <h4>THE SUMMER TOURS 2016 
                              UNITED KINGDOM - SUMMER CAMP 2016</h4></strong>
                      
XUK CAMP<br />
KLUBGROUP ADVENTURE CAMP<br />

TRAVEL DATE: 5TH AUGUST 2016<br />
REGISTRATION ENDS 30TH MAY 2016<br />
COST: 2,350 POUNDS 
			   <br /><br /> 
           <marquee>  PLEASE IT IS IMPORTANT TO NOTE THAT THE VACCATION DATE IS CRUCIAL AND MUST BE CERTAIN TO AVOID CLASHES IN BOOKING SPACE
             </marquee>
              
</article>
              <br>
            
            </div>
             <br> 
            
  <div class="col-xs-12  col-md-3">
         <!-- sub content  -->
            
           <article upcoming-tours></article>
      
</div>
</div>
          
        
</div>
        
        
    </section>
    </main>
     <div class="divider"></div>