 <main>
    <section class="container">

        <div class="row">
            
          <div class="col-xs-12  col-md-9 bodytext "><h2>USA Tours</h2>
		  <!--<ol class="breadcrumb">
                <li><a href="#/">Home</a>
                </li>
                <li class="active">About Church</li>
            </ol>-->
             
		  <article>
              <h4> USA: 5 TOUR OPTIONS</h4>
              
             

THIS IS A TECH CAMP EXCLUSIVE <br />
1ST BATCH: 2 WEEKS(REGISTRATION ENDS 5TH APRIL)<br />
iDTECH CAMP[ UC IRVINE CALIFORNIA,UCLA,STANFORD &amps UNIVERSITY OF MAIMI<br />
COST: $6600<br /><br />

UCLA: 6TH AUGUST-19TH AUGUST 2016<br />

UC IRVINE:13TH AUGUST- 27TH AUGUST 2016<br />

UNIVERSITY OF MAIMI: 23RD JULY - 5TH AUGUST 2016<br />

STANFORD UNIVERSITY[PLS SEND A MAIL OR CALL]<br />
              
                      2ND BATCH: 18 DAYS [COMBINED 2 TOURS] (REGISTRATION ENDS 10TH APRIL)<br />
COST: $6,950<br /><br />

iDTECH CAMP@UC IRVINE CALIFORNIA &amps DISNEY CALIFORNIA<br />
6TH AUGUST - 23RD AUGUST 2016<br />
OR<br />
iDTECH CAMP@UNIVERSITY OF MAIMI FLORIDA &amps DISNEY FLORIDA<br />
23RD JULY - 9TH AUGUST 2016<br /><br />

3RD &amps 4TH BATCH TOURS (REGISTRATION ENDS JUNE 25TH)<br />
DISNEY ORLANDO FLORIDA - 2 WEEKS COST - $5500<br /><br />

 DATES : 13TH AUGUST - 27TH AUGUST 2016<br />
                29TH AUGUST - 12TH SEPTEMBER 2016<br /><br />

5TH BATCH - 18DAYS ( 6 - 11YEARS) COST - $5500 (REGISTRATION ENDS 5TH APRIL 2016<br /><br />

ROCK IT SCIENCE SUMMER CAMP@ SANTA CLARA & DISNEY CALIFORNIA.<br />
			  <br /><br />
         <marquee>  PLEASE IT IS IMPORTANT TO NOTE THAT THE VACCATION DATE IS CRUCIAL AND MUST BE CERTAIN TO AVOID CLASHES IN BOOKING SPACE
             </marquee>
                
</article>
              <br>
            
            </div>
             <br> 
            
  <div class="col-xs-12  col-md-3">
         <!-- sub content  -->
            
         <article upcoming-tours></article>
     
</div>
</div>
          
        
</div>
        
        
    </section>
    </main>
     <div class="divider"></div>