 <main>
    <section class="container">

        <div class="row">
            
          <div class="col-xs-12  col-md-9 bodytext "><h2>Canada College Admissions </h2>
		  <!--<ol class="breadcrumb">
                <li><a href="#/">Home</a>
                </li>
                <li class="active">About Church</li>
            </ol>-->
             
		  <article>
              			  <h4><!-- heading --></h4>
              
        
GET YOUR OSSD [ONTARIO SECONDARY SCHOOL DIPLOMA] GAIN  ADMISSION INTO YOUR  CHOICE 
FROM OVER 12 UNIVERSITIES NAMELY:<br />
            <ol>
              <li> McGILL</li>
              <li>  QUEENS UNIVERSITY </li>
              <li>  UNIVERSITY OF TORONTO</li>
              <li> CARLTON UNIVERSITY</li> 
              <li> UNIVERSITY OF WATERLOO</li>
              <li>  McMASTER UNIVERSITY</li>
              <li>  RYERSON UNIVERSITY</li>
              <li> CARLETON UNIVERSITY</li>
              <li>  THE UNIVERSITY OF WESTERN  ONTARIO</li>
              <li>  UNIVERSITY OF WINDSOR</li>
              <li>  YORK UNIVERSITY</li>
              <li>  U OTTAWA</li>
              <li>  THE UNIVERSITY OF BRITISH COLUMBIA</li>
            <ol>
</article>
              <br>
            
            </div>
             <br> 
            
  <div class="col-xs-12  col-md-3">
         <!-- sub content  -->
            <article upcoming-admissions></article>
</div>
</div>
          
        
</div>
        
        
    </section>
    </main>
     <div class="divider"></div>