 <main>
    <section class="container">

        <div class="row">
            
          <div class="col-xs-12  col-md-9 bodytext "><h2>China College Admissions</h2>
		  <!--<ol class="breadcrumb">
                <li><a href="#/">Home</a>
                </li>
                <li class="active">About Church</li>
            </ol>-->
             
		  <article>
              			  <h4><!-- heading --></h4>
             CHINA COLLEGE ADMISSIONS FOR 2016

FOR SESSION STARTING MARCH 2016 AND  SEPTEMBER 2016. 

English Medium Programs:<br /><br />
              <strong>Bachelor Degree Programs (four years)</strong>
                   <ol>
                       <li>Aeronautical Engineering</li>
                  <li>Mechanical Engineering</li>
              <li>Computer Science &amp; Technology</li>
                        <li>Accounting</li>
                          <li>Petroleum and Gas Engineering</li>
              </ol>







 <strong>Master Degree Programs (2 - 2.5 years)</strong>

              <ol><li>Aeronautical Engineering</li>
                  <li>Mechanical Design Manufacture &amp; Automation</li>
                  <li>Electrical Engineering and Automation</li>
                  <li>Civil Engineering</li>
              </ol>


              <strong>Doctorate Degree Programs</strong>

              <ol><li>Management Scientific and Engineering</li>
                  <li>Mechanical Design, Manufacture and Automation</li>
                  <li>Material Forming &amp; Control Engineering</li>
                  <li>Electrical Engineering and Automation</li>
              </ol>

			 <a href="http://schoolworldinvestment.com/files/CHINA-ADMISSIONS-2016a.pdf" target="_blank" class="glyphicon glyphicon-download-alt">Download China Admissions</a>  
       
</article>
              <br>
            
            </div>
             <br> 
            
  <div class="col-xs-12  col-md-3">
         <!-- sub content  -->
            
       <article upcoming-admissions></article>
     
</div>
</div>
          
        
</div>
        
        
    </section>
    </main>
     <div class="divider"></div>