 <main>
    <section class="container">

        <div class="row">
            
          <div class="col-xs-12  col-md-9 bodytext "><h2>FRANCE  College Admissions </h2>
		  <!--<ol class="breadcrumb">
                <li><a href="#/">Home</a>
                </li>
                <li class="active">About Church</li>
            </ol>-->
             
		  <article>
              			  <h4><!-- heading --></h4>
              
            FRANCE  2016 SCHOLARSHIPS  [2.1  OR 1 CLASS]
      


<br /><br />

   Master i : Mines Albi-Carmaux Innovation Management Materials Aerospace Innovative products, materials<br />
Domains: Aerospace, Materials, Innovation Management, Innovative products, materials <br />
Language: M1+M2 English <br /><br />
Master i : Mines Albi-Carmaux Process / Processing Wastes Economics and business Engineering Technology<br />
Domains: Wastes,Process / Processing, Technology, Economics and business Engineering <br />
Language: M1+M2 English <br />
Master i : Mines Albi-Carmaux Process / Processing Quality Health Engineering
<br /><br />
	
Master i : ISIFC Biomedical Biomechanical Health Medical imaging<br />
Domains: Biomedical, Medical imaging, Health, Biomechanical<br />
Language: M1 French | M2 English 

	<br /><br />
              FRANCE  2016 SCHOLARSHIPS  [2.1  OR 1 CLASS]
<br /><br />
Master i : Arts et Métiers Paris Tech Mechanical Energy<br />
Major in Mechanics, materials, structures and processing technology <br />
Domains: Mechanical, Energy, Robotics, Materials
<br /><br />
Domains: IT. Information tech/eng, Informatics - Computer Science, Data mining <br />
Language: M1 Bilingual French and Other | M2 Bilingual French and English <br />
Master n+ : EISTI Computer graphics Informatics - Computer Science
   <br /><br />           
Major in DS - Data Science <br />
Domains: Computer graphics, Informatics - Computer Science, Artificial Intelligence, Informatics - Computer Science<br /> 
Language: M1 French | M2 Bilingual French and English 

       
</article>
              <br>
            
            </div>
             <br> 
            
  <div class="col-xs-12  col-md-3">
         <!-- sub content  -->
            
       <article upcoming-admissions></article>
      
</div>
</div>
          
        
</div>
        
        
    </section>
    </main>
     <div class="divider"></div>