  <!-- footer begins here -->

  <footer>
      
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-sm-4   col-md-2 col-lg-2">
                    <h3> Enugu</h3>
                    <ul>
                        <li> Plot 417, No 68, Federal Government College, </li>
                        <li> Independence Layout, Enugu .State, Nigeria </li>
                        <li> Tel/Fax: +234-42-303-067 </li>
                        <li> GSM : +234-803-599-5012, <br />
                          +234-805-900-0575 
                    </ul>
                     	 



                </div>
                <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2   ">
                    <h3> Lagos </h3>
                    <ul>
                        <li> NO.11, Mustapha St, </li>
                        <li>Off Olarewanju St, </li>
                        <li> Off Billings Way Oregun,</li>
                        <li>Ikeja, Lagos</li>
                        <li>Phone:+234-80-590-0575,<br /> +234-704-281-7288. </li>
                        
                    </ul>
                </div>
                
  

                <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
                   <h3> Abuja</h3>
                    <ul>
                        <li> Plot 413A, </li>
                        <li> lobito Cresdent Wuse II, </li>
                        <li> Abuja F.C.T Abuja  </a> </li>
                       
                    </ul> 
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
                    <!--
                    
                            -->
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <h3>Get in Touch</h3>
                    <!-- Button trigger modal -->
        <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal">

          Launch Contact Details
        </button>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-                                only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Contact Details</h4>
              </div>
              <div class="modal-body">
                   <form action="sendresults.php" method="POST">
                <fieldset>
               Call   admissions  desk  08092195525, or send an email to: info@schoolworldinvestment.com or fill the request form details: 
                    <ul>
                        <li class="name">
                            <label for="name">Your Name</label>
                            <input type="text" id="name" name="name" placeholder="Fullname" required class="form-control"/>
                       </li>
                        <li class="email">
                            <label for="email">Your Email</label>
                            <input type="email" id="email" name="email" placeholder="grace2015@yahoo.com" required class="form-control" />
                        </li>
                        <li class="email">
                            <label for="phone">Your Phone Number (Optional)</label>
                            <input type="phone" id="phone" name="phone" placeholder="+1-000-000-0000" class="form-control"/>
                        </li>
                        <li class="message">
                            <label for="message">WHAT HELP DO YOU NEED:</label>
                            <textarea id="message" name="message" class="form-control"></textarea>
                        </li>
                    </ul>
                <input class="send" type="submit" name="submit" value="Send" /> <button type="button" class="closex" data-                                  dismiss="modal">Close</button>
                </fieldset>
                    </form>
                 <!-- end of Form --> 
              </div>
              <div class="modal-footer">


              </div>
            </div>
          </div>
        </div>

<!-- $emailadd = 'info@schoolworldinvestment.com'; 



// Where to redirect after form is processed. 

$url = 'http://www.schoolworldinvestment.com/#/confirmation'; 
-->

                            <ul class="social">
                                <li> <a href="#"> <i class=" fa fa-facebook">   </i> </a> </li>
                                <li> <a href="#"> <i class="fa fa-twitter">   </i> </a> </li>
                                <li> <a href="#"> <i class="fa fa-google-plus">   </i> </a> </li>
                                <li> <a href="#"> <i class="fa fa-youtube">   </i> </a> </li>
                            </ul>

                        </div>

                    </div>
                    <!--/.row--> 
                </div>
                <!--/.container--> 
            </div>
            <!--/.footer-->

            <div class="footer-bottom">
                <div class="container">
                    <p class="pull-left"> Copyright © School World Investment, 2009 - 2016. All right reserved. </p>
                    <div class="pull-right">
                        <a href="http://cyrilajieh.com/" target="_blank"> Site Developer</a>
                    </div>
                </div>
            </div>
<!--/.footer-bottom--> 
</footer>
