<section class="container-fluid topbar">
    <div class="container">
       <span class="pull-right"><i class="fa fa-envelope topbar-fa hidden-xs"></i><small class="hidden-xs">                                             info@schoolworldinvestment.com</small></i><i class="fa fa-phone topbar-fa">    </i><small>+234-809-219-5525</small></span>
    </div>
</section>
   <!-- beginning of banner -->
    
<header class="container-fluid banner">
    <br />
    <div class="container">
        <div class="row">
        <div class="col-xs-12 col-sm-2">
            <a href="#/" class="img-logo"><img src="img/logo.jpg" class="img-responsive img-rounded center-block">
            </a>
        </div>
            <div class="col-xs-12 col-sm-10 ">
                <span class="text-center"><h1 class="">School World Investment</h1>
                <h5 class="">Tours, Admissions, Workshop &amp; Seminars</h5></span>
            </div>
        </div>
    </div>
     
    <br>        
</header>
      <!-- end of banner -->
      
      <!-- beginning of navigation -->
<nav class="navbar navbar-default top-navbar" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
   <div class="navbar-header">
       <span class="menu-text hidden-sm hidden-md hidden-lg">Menu</span>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
     
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ><a href="#/" >Home</a></li>
        <li><a href="#/aboutus">About Us</a></li>
                 <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown">Tours &amp; Camps <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#/usa">USA</a></li>
            <li><a href="#/canada">Canada</a></li>
            <li><a href="#/uk">United Kingdom</a></li>
              <li><a href="#/france-tours">France</a></li>
             <li><a href="#/europe">Europe</a></li>
        
            <!--<li class="divider"></li>
            <li><a href="#">One more separated link</a></li>-->
          </ul>
        </li>
        </li>
         <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown">Admissions <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#/china">China</a></li>
            <li><a href="#/france-colleges">France</a></li>
                 <li><a href="#/canada-colleges">Canada</a></li>
            <!--<li class="divider"></li>
            <li><a href="#">One more separated link</a></li>-->
          </ul>
        </li>
        </li>
    
           <li><a href="#/partners">Partners</a></li>
       
          <li><a href="#/testimonials">Testimonials</a></li>
     <li><a href="#/photo-gallery">Photo Gallery</a></li>
         <li><a href="#/contact">Contact Us</a></li>
         
      </ul>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
      
      <!-- end of navigation -->

   