  <aside class="panel panel-primary asidetext">
        <div class="panel-heading">
            <h3 class="panel-title">Upcoming Tours</h3>
        </div>
        <ul class="list-group ">
            <li class="list-group-item "><strong><span class="text-uppercase sidebar-text">USA: 5 TOUR OPTIONS</strong><br> 
                <a href="#usa/" class="sidebar-nav-text">This is a Tech Camp exclusive<br />1st Batch: 2 Weeks <br />Registration ends 5th                       April,2016<br />iDTECH Camp - UC Irvine   California,UCLA,Stanford,&amp; University of Maimi<br />
                </a>
                <span class="sidebar-cost-text pull-right"><strong >Cost:-</strong> $6,600</span><br />
            </li>
            <li class="list-group-item"><strong><span class="text-uppercase sidebar-text">CANADA TOURS 2016</span></strong><br /> 
                <a href="#/canada" class="sidebar-nav-text"> CANADA: Centauri Summer Arts Camp and Toronto Tour<br/>                                          17th July - 4th   August 2016 (19days)<br />
                 29th July - 15th August 2016(19days)<br />
                        Registration ends 24th March 2016.
                </a>
                <br /> <span class="sidebar-cost-text pull-right"><strong >Cost:-</strong> $6,500 </span><br />
            </li>
            <li class="list-group-item"><strong><span class="text-uppercase sidebar-text">UNITED KINGDOM - SUMMER CAMP 2016</span></strong>             <br> 
                <a href="#/uk" class="sidebar-nav-text">                
                    XUK Camp<br />Klubgroup Adventure Camp<br />Travel Date: 5th August 2016<br />Registration Ends 30th May 2016<br />
                </a>
                <span class="sidebar-cost-text pull-right"><strong >Cost:-</strong>&pound;2,350</span><br />
            </li>
            <li class="list-group-item"><strong><span class="text-uppercase sidebar-text">SUMMER EUROPE</span></strong><br>     
                <a href="#/europe" class="sidebar-nav-text">Registration Ends 30th May 2016 France /Brussels/ Spain : 14 Days<br />   
                    Travel Date 25th August 2016<br />
                </a>
                <span class="sidebar-cost-text pull-right"><strong >Cost:-</strong> &euro;3590</span><br />
            </li>                    
            <li class="list-group-item"><strong><span class="text-uppercase sidebar-text">EASTER TOURS</strong></span><br> 
                <a href="#/france-tours" class="sidebar-nav-text ">
                    France:10 days  <span class="sidebar-cost-text pull-right"><strong >Cost:-</strong> &euro;2,250</span><br />

                    Dubai:10 days  <span class="sidebar-cost-text pull-right"><strong >Cost:-</strong> N450,000</span><br />

                    South Africa:10 days <span class="sidebar-cost-text pull-right"><strong >Cost:-</strong> N450,000</span><br />

                    Tanzania:10 days <span class="sidebar-cost-text pull-right"><strong >Cost:-</strong>  N450,000</span><br />
                    Ghana:5 days <span class="sidebar-cost-text pull-right"><strong >Cost:-</strong>N170,000</span><br /> <em> Ghana:Go by road &amp;                       return by air</em>
                </a>
            </li>                  
        </ul>
</aside>