 <aside class="panel panel-primary asidetext">
        <div class="panel-heading">
            <h3 class="panel-title">Upcoming Admissions</h3>
        </div>
        <ul class="list-group">
            <li class="list-group-item"><span class="text-uppercase sidebar-text"><strong>CHINA COLLEGE ADMISSIONS</strong></span><br />
                <a href="#/china" class="sidebar-nav-text">
                China College Admissions for 2016  Session starting March 2016 and September 2016.
                </a>
            </li>
            <li class="list-group-item">  <span class="text-uppercase sidebar-text"> <strong>FRANCE COLLEGE ADMISSIONS</strong></span>  <br />                  <a href="#/france-colleges" class="sidebar-nav-text"> France College Admissions2016 <br /> Scholarships for 2.1 or 1st                          Class
                </a>
            </li>
            <li class="list-group-item"><span class="text-uppercase sidebar-text"><strong >CANADA COLLEGE ADMISSIONS</strong></span><br />
                <a href="#/canada-colleges" class="sidebar-nav-text">Get your OSSD  (Ontario Secondary School Diploma) gain admission into                      your choice from over 12 Universities namely: Mcgill Queens University ...
                </a>
            </li>
           </ul> 
           <br />
            <span class="list-group-item"><span class="text-uppercase sidebar-text"><strong>Download Forms</strong></span>
                <figure class="text-center">
                    <a href="#/registration"><img src="img/registration-form.jpg" class="img-responsive"></a>
                </figure>
                   
                
</aside>